<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Development Task Launcher
        </h1>
        <p class="lede">You can invoke the following tasks</p>
        <% if (flash.info) { %>
            <div class="notification notification-success" tabindex="-1">
                <%= flash.info %>
            </div>
        <% } %>

        <form method="post" novalidate="novalidate">
            <input type="hidden" name="_csrf" value="3YLwXnmZ-ggp6rnI6755Yvie7YyKRg_7SSIQ">

            <div class="form-group ">
                <fieldset>

                    <% locals.availableTasks.forEach((key) => { %>
                        <div class="multiple-choice">
                            <input id="<%= key %>" type="radio" name="task" value="<%= key %>">
                            <label for="<%= key %>"><%= key %></label>
                        </div>
                    <% }); %>


                </fieldset>
            </div>

            <div class="form-submit">
                <button class="button">Invoke</button>
            </div>
        </form>
    </div>
</div>
